<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Digit classifier</title>
  <style>
    body {
      font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
      font-size: 14px;
      line-height: 1.428571429;
      color: #333;
      background-color: #fff;
    }
    canvas {
      cursor: pointer;
    }
    </style>
</head>
<body>
  <h1>Digit Classifier</h1>
  <p>Draw a number in the box below and click "Predict":</p>

  <canvas id="canvas" width="280" height="280" style="border: 1px solid #CCC"></canvas>

  <div>
    <button id="submit">Predict</button> 
    <button id="clear">Clear</button>
  </div>

  <p>This Sinatra app classifies via a neural network (ruby-fann) which I've pre-trained on the MNIST handwritten digits dataset. This network has one hidden layer of 300 neurons, and after training with all 60,000 training examples (which took ~14 minutes), I was able to classify ~93% of the test set. You can see the training setup in the <a href="https://github.com/gbuesing/mnist-ruby-test">source code</a>.</p>

  <p>Made by <a href="https://github.com/gbuesing">Geoff Buesing</a>.</p>

  <a href="https://github.com/gbuesing/mnist-ruby-test"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/a6677b08c955af8400f44c6298f40e7d19cc5b2d/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f677261795f3664366436642e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_gray_6d6d6d.png"></a>

  <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
  <script>
    var canvas = document.getElementById('canvas');
    var ctx = canvas.getContext("2d");
    ctx.strokeStyle = "#000";
    ctx.lineWidth = 20;
    ctx.lineJoin = "round";
    
    // https://software.intel.com/en-us/html5/articles/touch-drawing-app-using-html5-canvas
    $.fn.drawTouch = function() {
      var start = function(e) {
          e.preventDefault();
          var touchEvent = e.originalEvent.changedTouches[0];
          ctx.beginPath();
          ctx.moveTo(touchEvent.pageX - this.offsetLeft, touchEvent.pageY - this.offsetTop);
      };
      var move = function(e) {
        e.preventDefault();
        var touchEvent = e.originalEvent.changedTouches[0];
        ctx.lineTo(touchEvent.pageX - this.offsetLeft, touchEvent.pageY - this.offsetTop);
        ctx.stroke();
      };
      $(this).on('touchstart', start);
      $(this).on('touchmove', move);
    };

    $.fn.drawMouse = function() {
      var clicked = 0;
      var start = function(e) {
          clicked = 1;
          ctx.beginPath();
          ctx.moveTo(e.pageX - this.offsetLeft, e.pageY - this.offsetTop);
      };
      var move = function(e) {
          if(clicked){
              ctx.lineTo(e.pageX - this.offsetLeft, e.pageY - this.offsetTop);
              ctx.stroke();
          }
      };
      var stop = function(e) {
          clicked = 0;
      };
      $(this).mousedown(start);
      $(this).mousemove(move);
      $(this).mouseup(stop);
    };

    $('#canvas').drawTouch();
    $('#canvas').drawMouse();

    $('#submit').click(function(e) {
      e.preventDefault();
      var dataURL = canvas.toDataURL()

      $.post('/predict', {dataURL: dataURL}, function(resp) {
        alert('Predicted: ' + resp);
      });
    });

    $('#clear').click(function(e) {
      e.preventDefault();
      ctx.clearRect(0, 0, canvas.width, canvas.height);
    })

  </script>
</body>
</html>